.damage{
  background-color: red;
  display: inline-block;
}

.remaining{
  background-color: blue;
  display: inline-block;
}


body {
  background-color: https://www.allstate.com/resources/Allstate/images/global/bg-body.jpg;
}
